@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    </div>

@*<div id="body">

    <h2>Maj Upload </h2>

    <section class="main-content clear-fix">

        <form name="form1" method="post" enctype="multipart/form-data" action="api/upload">
            <fieldset>
                <legend>File Upload Example</legend>
                <div>
                    <label for="caption">Image Caption</label>
                    <input name="caption" type="text" />
                </div>
                <div>
                    <label for="image1">Image File</label>
                    <input name="image1" type="file" />
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>

    </section>
</div>*@
